<div class="user-index">
  <div class="users-heading">
    <h1>ユーザー一覧</h1>
  </div>
  
  <div class="user-info">
    <% @users.first(8).each do |user| %>
    <div class="users-index-item">
      <div class="user-img">
        <%= link_to image_tag("/user_images/#{user.image_name}"), "/users/#{user.id}"  %>
      </div>
      <div class="user-right">
      <h2>
        <%= link_to(user.name, "/users/#{user.id}") %>
      <h2>
      </div>
    </div>
    <% end %>
  </div>
</div>
