<div class="top">
  <div class="top-main">
  <img src="/assets/danny-howe-bn-D2bCvpik-unsplash.jpg" alt="top" >
    <h1>アイドル口コミサイト！</h1>
    <p>みんなで好きなアイドルを教え合おう</p>
  </div>
</div>

<section class="about">
  <div class="intro">
    <div class="intro-title">
      <h1>
        好きなアイドルをみんなに紹介して、そして見つけていくアイドル口コミサイト
      </h1>
      <div class="intro-content">
        <div class="intro-left">
          <p>
            好きなアイドルを気軽に紹介できる口コミサイトを作りたい！その気持ちでこのサービスを開発しました。
            <br>
            メジャーなアイドルはもちろん、地下アイドルにも魅力的なグループはたくさんいます。露出の少ないアイドルグループこそみんなで見つけていきましょう！
          </p>
        </div>
        <div class="intro-right">
          <p>
            このサービスではグループのスレッドを作成し、そこに画像、Youtube 動画などを掲載することでき、それに対して掲示板のようにコメントすることができます。
          </p>
        </div>

      </div>
    </div>
  </div>

  
</section>
  
