/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 

header{
  height: 90px;
  padding-top: 0;
  margin-bottom: 30px;
}


.header-left{
  font-size: 20px;
  float: left;
  padding: 20px 40px;
}

 

header li{
  list-style: none;
  
  float: left;
  padding: 33px 20px;
  
}

.header-list{
  float: right;
}

a{
  text-decoration: none;
  color: black;
  font-family: 'M PLUS Rounded 1c', sans-serif; 
  font-size: 20px;
}

.flash{
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
}

